<div class="mb-6 flex justify-between items-center">
  <div class="p-6">
    <h1 class="text-2xl font-bold text-gray-900 mb-4">📦 Listado de productos</h1>

    <div class="text-sm font-medium text-muted-foreground">
      <span>Total productos: </span>
      <span class="font-semibold text-foreground">{{ products().length }}</span>
    </div>
  </div>
  <button (click)="crearProducto()"
    class="rounded-lg bg-primary px-5 py-2.5 text-sm font-medium text-primary-foreground shadow-md transition hover:bg-primary/80">
    ➕ Agregar producto
  </button>
</div>

<div class="w-full rounded-lg border border-muted/30 bg-background p-4 shadow-sm">
  <div class="overflow-x-auto">
    <table class="w-full border-collapse text-left text-sm">
      <thead class="border-b border-muted/40 bg-muted/10 text-muted-foreground">
        <tr>
          <th class="px-4 py-3">Nombre</th>
          <th class="px-4 py-3">Tipo</th>
          <th class="px-4 py-3 text-center">Cantidad</th>
          <th class="px-4 py-3 text-right">Precio</th>
        </tr>
      </thead>
      <tbody>
        @for (product of products(); track $index) {
        <tr class="border-b border-muted/20 transition hover:bg-muted/10 cursor-pointer"
          (click)="editarProducto(product)">
          <td class="px-4 py-3">{{ product.name }}</td>
          <td class="px-4 py-3">{{ product.categoryId }}</td>
          <td class="px-4 py-3 text-center">{{ product.stock }}</td>
          <td class="px-4 py-3 text-right font-medium text-primary">{{ product.sellingPrice }}</td>
        </tr>
        } @empty {
        <tr>
          <td class="py-5 text-center text-sm text-muted-foreground" colspan="5">🚫 Sin productos disponibles</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>