<div class="p-6">
  <a [routerLink]="['/home/products']" class="text-blue-600 hover:underline">← Volver al listado de productos</a>
  <div class="mt-4 flex flex-col rounded-xl border border-muted/20 bg-background p-4 shadow-md">
    <h2 class="mb-4 text-2xl font-semibold text-center">Registrar nuevo <span class="text-primary">Producto</span></h2>
    <form class="space-y-4" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <label for="name" class="text-sm font-medium">Nombre del Producto</label>
        <input type="text" id="name" formControlName="name" class="w-full rounded-md border p-2" />
      </div>
      <div>
        <label for="description" class="text-sm font-medium">Descripción</label>
        <textarea rows="4" id="description" formControlName="description"
          class="w-full rounded-md border p-2"></textarea>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label for="sellingPrice" class="text-sm font-medium">Precio de Venta</label>
          <input type="number" id="sellingPrice" formControlName="sellingPrice" class="w-full rounded-md border p-2" />
        </div>
        <div>
          <label for="actualPrice" class="text-sm font-medium">Costo del Producto</label>
          <input type="number" id="actualPrice" formControlName="actualPrice" class="w-full rounded-md border p-2" />
        </div>
      </div>
      <div>
        <label for="stock" class="text-sm font-medium">Cantidad Disponible</label>
        <input type="number" id="stock" formControlName="stock" class="w-full rounded-md border p-2" />
      </div>
      <div>
        <label class="text-sm font-medium">Tipo de Producto</label>
        <select formControlName="categoryId" class="w-full rounded-md border p-2">
          <option value="Libros">Libros</option>
          <option value="Folletos">Folletos</option>
          <option value="Invitaciones">Invitaciones</option>
          <option value="TarjetasPersonales">Tarjetas Personales</option>
          <option value="Otros">Otros</option>
        </select>
      </div>
      <div class="text-center">
        <button type="submit"
          class="rounded-lg bg-green-600 px-5 py-2.5 text-sm font-medium text-white shadow-md hover:bg-green-500">
          Guardar Producto
        </button>
      </div>
    </form>
  </div>
</div>