<!-- <app-table [header]="header" [data]="data"></app-table> -->

<div class="mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Listado de pedidos</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href="" class="hover:text-primary">Total pedidos:</a>
      <span class="text-foreground">{{pedidos().length}}</span>
    </div>
  </div>
  <div class="inline-block space-x-4">
    <button (click)="crearPedido()"
      class="flex-none rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground">
      Agregar un pedido
    </button>
  </div>
</div>

<div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background p-2">

  <div class="overflow-x-auto">
    <table
      class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
      <thead class="border border-muted/20 text-xs text-muted-foreground">
        <tr>
          <th class="min-w-[100px]">Nombre de cliente</th>
          <th class="min-w-[100px]">Producto</th>
          <th class="min-w-[100px]">Total a pagar</th>
          <th class="min-w-[100px]">Cantidad</th>
          <th class="min-w-[80px]">Fecha de entrega</th>
        </tr>
      </thead>
      <tbody>
        @for (pedido of pedidos(); track $index) {
        <tr class="hover:bg-card/50" (click)="editarPedido(pedido)">
          <td>{{pedido.customer.first_name}} {{pedido.customer.last_name}}</td>
          <td>{{pedido.product.name}}</td>
          <td>{{pedido.totalAmount}}</td>
          <td>{{pedido.quantity}}</td>
          <td>{{pedido.dateShipping | date}}</td>
        </tr>
        } @empty {
        <tr>
          <td class="py-4 text-center text-sm" colspan="7">Sin pedidos para mostrar</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>